.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: .5s;
}

.place__link:hover {
    opacity: .8;
}

@media screen and (max-width: 598px) {
    .place__link {
        margin: 0 16px 0 16px;
    }
}