.place {
    display: grid;
    width: 100%;
    gap: 48px 40px;
    grid-template-columns: minmax(269px, 460px) minmax(269px, 1fr);
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
        grid-template-columns: minmax(269px, 440px) minmax(269px, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;
        grid-template-columns: minmax(269px, 340px) minmax(269px, 1fr);
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 598px) {
    .place {
        gap: 32px;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
}